<footer id="main-footer">
  <div
    class="container"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="display: flex; align-items: center; gap: 10px">
      <h3>
        <img style="height: 50px; width: 50px" src="/assets/mlogo.png" />
      </h3>
      <p>M-Ecommerce | An online marketplace</p>
    </div>
    <p>
      Copyright &copy; Project During COVID 19
      <span id="year"></span>
    </p>
  </div>
</footer>
