<footer id="main-footer">
  <div class="containerWrapper">
    <p class="footer-company">Stronics | An online marketplace</p>

    <p class="footer-cpy">
      Copyright &copy; Project During COVID 19
      <span id="year"></span>
    </p>
  </div>
</footer>
