<br>
<br>
<footer id="main-footer">
    <div class="col text-center py-4">
        <h3><img style="height: 50px; width: 50px;" src="/assets/mlogo.png" /></h3>
        <p>Copyright &copy; Project During COVID 19
            <span id="year"></span>
        </p>
    </div>
</footer>