<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stronics - An ecommerce store</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    />
  </head>

  <body>
    <% include ./partials/navbar %>

    <div class="paddingTop"></div>
    <div style="min-height: 85vh"><%- body -%></div>

    <!-- <% include ./partials/footer %>-->
    <% include ./partials/javascriptOnly %>
  </body>
</html>
